In [5]:
import pandas as pd
import numpy as np
import heapq
import pdb
import math, sys
from scipy.stats import chi2_contingency, chi2
from collections import defaultdict
from itertools import combinations, chain
from io import StringIO

In [55]:
df = pd.read_csv(StringIO("""
idx     politis  strikes
44     47.3     30.0
45     47.3     49.0
46     46.1    277.0
47     46.1     15.0
48     46.1     15.0
49     46.1     64.0
50     47.9     30.0
51     47.9      7.0
52     47.9      3.0
53     47.9      8.0
54     49.1     11.0
55     49.1      2.0
56     50.8      6.0
57     50.8     61.0
58     50.8      3.0
59     50.8      2.0
60     50.8      0.0
61     50.8      0.0
62     50.8      4.0
63     51.9      0.0
64     51.9      6.0
65     51.9      1.0
"""),delim_whitespace=True)
df.drop(columns=['idx'], inplace=True)
with open("num_split_test.txt", 'w') as f: f.write(df.to_string(index=False))

In [57]:
uniq = np.sort(df['politis'].unique())
cutpoints = uniq[0:-1] + np.diff(uniq)/2

In [81]:
res = []
for cut in cutpoints:
    left = df[df['politis'] <= cut]
    right = df.drop(left.index)
    node_sse = ((df['strikes'] - df['strikes'].mean())**2).sum()
    left_sse = ((left.strikes - left.strikes.mean())**2).sum()
    right_sse = ((right.strikes - right.strikes.mean())**2).sum()
    tot_sse = node_sse - left_sse - right_sse
    res.append( (cut, tot_sse) )
pd.DataFrame(res)

       0             1
0  46.70  21134.972222
1  47.60  19008.000000
2  48.50   9530.400000
3  49.95   6410.983333
4  51.35   2113.543860

In [59]:
cutpoints

array([46.7 , 47.6 , 48.5 , 49.95, 51.35])

In [ ]:

for cut in cutpoints: